body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 16px;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 100; /* Ensure it's above other content */
}

.chat-container {
    padding: 20px;
    height: 300px; /* Fixed height for chat container */
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Position context for absolute positioning */
}

#chat-area {
    position: absolute; /* Position at the bottom of chat-container */
    bottom: 10em;
    left: 0;
    width: 100%;
    overflow-y: auto; /* Enable scrolling within chat-area */
    /* Make content stick to the bottom */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.message .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 18px;
}

.message.user {
    flex-direction: row-reverse; /* User messages on the right */
}

.message.user .avatar {
    margin-left: 10px;
    margin-right: 0;
}

.message .message-text {
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.message.user .message-text {
    background-color: #e2f7cb;
}

.input-area {
    padding: 20px;
    background-color: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculation */
}

input[type="text"] {
    width: calc(100% - 30px); /* Adjusted width to account for padding */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.language-selector {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.language-selector label {
    margin-bottom: 5px;
    font-weight: bold;
}

.language-selector select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}
